/* prettier-ignore */
$brahmin-weights: 
  (1) 
  (2) 
  (3) 
  (4)
  (5)
  (6)
  (7);
@each $weight in $brahmin-weights {
  @font-face {
    font-family: "Brahmin";
    font-weight: #{$weight * 100};
    src: url("../fonts/Brahmin-#{$weight}r.woff") format("woff");
    src: url("../fonts/Brahmin-#{$weight}r.woff2") format("woff2");
  }
  @font-face {
    font-family: "Brahmin";
    font-weight: #{$weight * 100};
    font-style: italic;
    src: url("../fonts/Brahmin-#{$weight}i.woff") format("woff");
    src: url("../fonts/Brahmin-#{$weight}i.woff2") format("woff2");
  }
}
