<!-- prettier-ignore -->
@{ Layout = "_Layout"; } 
@using OrderTracker.Models
<!-- prettier-ignore-end -->

<h1>Vendors</h1>
<ul class="vendors">
  @if (Model.Count == 0) {
  <p>No Vendors</p>
  } @foreach (Vendor v in Model) {
  <li>
    <h3>@v.Name</h3>
    <h4>@v.Desc</h4>
    <a href="/vendors/@v.Id" class="small">View</a>
  </li>
  }
  <a href="/vendors/new">Add Vendor</a>
</ul>
