<!-- prettier-ignore -->
@{ Layout = "_Layout"; }
<!-- prettier-ignore-end -->

<h2>Add Vendor</h2>
<form action="/vendors" method="post">
  <section>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" />
  </section>
  <section>
    <label for="desc">Description</label>
    <input id="desc" name="desc" type="text" />
  </section>
  <section>
    <button type="submit">Done</button>
  </section>
</form>
