<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="stylesheet" href="~/styles/spine.css" type="text/css" />
    <link rel="stylesheet" href="~/styles/font-face.css" type="text/css" />
    <title>Order Tracker</title>
  </head>
  <body>
    <main>@RenderBody()</main>
  </body>
</html>
